.detailProduct{
    margin-top: 6rem;
    display: flex;
    padding: 2rem 4rem;
    .detailProductImage{
        width: 100%;
        height: 100%;
        .detailProductImage-above{
            img{
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        .detailProductImage-under{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            img{
                width: 25%;
                height: 100%;
                display: block;
              &:hover{
                  opacity: 0.8;
                  cursor: pointer;
              }
            }
        }
    }
    .detailProductContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-height: 100%;
        padding: 0rem 4rem 0.2rem 4rem;
       
        .detailProductContent-title{
            h1{
                text-transform: uppercase;
                font-size: 2rem;
            }
            .detailProductContent-start{
                color: rgb(255, 196, 0);
                cursor: pointer;
            }
        }
        .detailProductContent-content{
            line-height: 1.6rem;
        }
        .detailProductContent-price{
            display: flex;
            justify-content: space-around;
            // align-items: center;
            font-size: 2rem;
            h5{
                margin-right: 2rem;
                color: gray;
                text-decoration: line-through;
            }
            h3{
                margin-right: 2rem;
                color: #3c833c;
            }
        }
        .detailProductContent-color{
            input{
                width: 2.8rem;
                height: 2.8rem;
                color: black;
                border-radius: 10px;
                font-size: 1.3rem;
                border: none;
                &:nth-child(3) , &:nth-child(1){
                    z-index: -1;
                   &:hover{
                    background-color: #000000c4;
                    color: white;
                   }
                }
                
            }
            
        }
        .detailProductContent-button{
            
            button{
               
            }
        }
    }
}
.relatedProduct{
    .relatedProduct-title{
        padding: 2rem 0rem;
        text-align: center;
        h1{
            font-size: 2.5rem;
            text-transform: uppercase;
        }
    }
    .relatedProduct-main{
        div{
            margin: 0rem 1rem;
        }
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .relatedProduct__image{
            img{
                height: 100%;
                width: 100%;
                display: block;
            }
        }
        .relatedProduct__content{
            padding: 1rem 0rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            justify-content: center;
            line-height: 1.5rem;
        }
    }
}

/*Smart phone nhỏ*/
@media screen and (min-width: 240px){
    .detailProduct{
        display: block;
        padding: 0rem 0rem;
        .detailProductImage{
            width: 100%;
            height: 100%;
            .detailProductImage-above{
                img{
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            .detailProductImage-under{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                img{
                    width: 25%;
                    height: 100%;
                    display: block;
                  &:hover{
                      opacity: 0.8;
                      cursor: pointer;
                  }
                }
            }
        }
        .detailProductContent{
            padding: 1rem 1rem 1rem 1rem;
            .detailProductContent-title{
                h1{
                    font-size: 1rem;
                }
                .detailProductContent-start{
                    font-size: 0.6rem;
                }
            }
            .detailProductContent-content{
                display: none;
            }
            .detailProductContent-price{
                font-size: 1rem;
            
            }
            .detailProductContent-color{
                 display: none;
                button{
                
                }
            }
            .detailProductContent-button{
                button{
                    width: 100%;   
                    margin: 1rem 0rem;
                }
            }
        }
    }

    .relatedProduct{
        .relatedProduct-title{
            padding: 1rem 1rem;
            text-align: left;
            h1{
                font-size: 1.6rem;
            }
        }
        .relatedProduct-main{
            div{
                margin: 0rem 0.5rem;
            }
            padding: 1rem 0rem;
            display: block;
        }
    }
}
/*Iphone(480 x 640)*/
@media screen and (min-width: 320px){
    
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px){
    
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px){
    .detailProduct{
        display: flex;
        padding: 1rem 1rem;
        .detailProductImage{
            width: 100%;
            height: 100%;
            .detailProductImage-above{
                img{
                    width: 100%;
                    height: 100%;
                    display: flex;
                }
            }
            .detailProductImage-under{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                img{
                    width: 25%;
                    height: 100%;
                    display: block;
                  &:hover{
                      opacity: 0.8;
                      cursor: pointer;
                  }
                }
            }
        }
        .detailProductContent{
            padding: 0rem 1rem 1rem 1rem;
            .detailProductContent-title{
                h1{
                    font-size: 2rem;
                }
                .detailProductContent-start{
                    font-size: 1rem;
                }
            }
            .detailProductContent-content{
                display: block;
                font-size: 1rem;
            }
            .detailProductContent-price{
                font-size: 1rem;
            
            }
            .detailProductContent-color{
                 display: none;
                button{
                
                }
            }
            .detailProductContent-button{
                width: 100%;
                button{
                    width: 100%;   
                    margin: 1rem 0rem;
                }
            }
        }
    }

    .relatedProduct{
        .relatedProduct-title{
            padding: 1rem 1rem;
            text-align: left;
            h1{
                font-size: 1.6rem;
            }
        }
        .relatedProduct-main{
            div{
                margin: 0rem 0.5rem;
            }
            padding: 1rem 0rem;
            display: flex;
        }
    }
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px){
    .detailProduct{
        margin-top: 6rem;
        display: flex;
        padding: 2rem 4rem;
        .detailProductImage{
            width: 100%;
            height: 100%;
            .detailProductImage-above{
                img{
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            .detailProductImage-under{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                img{
                    width: 25%;
                    height: 100%;
                    display: block;
                  &:hover{
                      opacity: 0.8;
                      cursor: pointer;
                  }
                }
            }
        }
        .detailProductContent{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            max-height: 100%;
            padding: 0rem 4rem 0.2rem 4rem;
           
            .detailProductContent-title{
                h1{
                    text-transform: uppercase;
                    font-size: 2rem;
                }
                .detailProductContent-start{
                    color: rgb(255, 196, 0);
                    cursor: pointer;
                }
            }
            .detailProductContent-content{
                line-height: 1.6rem;
            }
            .detailProductContent-price{
                display: flex;
                justify-content: space-around;
                // align-items: center;
                font-size: 2rem;
                h5{
                    margin-right: 2rem;
                    color: gray;
                    text-decoration: line-through;
                }
                h3{
                    margin-right: 2rem;
                    color: #3c833c;
                }
            }
            .detailProductContent-color{
                display: block;
                button{
                    
                    width: 3rem;
                    height: 2rem;
                    border: none;
                }
            }
            .detailProductContent-button{
                width: 100%;
                button{
              
                }
            }
        }
    }

    .relatedProduct{
        .relatedProduct-title{
            padding: 2rem 0rem;
            text-align: center;
            h1{
                font-size: 2.5rem;
                text-transform: uppercase;
            }
        }
        .relatedProduct-main{
            div{
                margin: 0rem 1rem;
            }
            padding: 1rem 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .relatedProduct__image{
                img{
                    height: 100%;
                    width: 100%;
                    display: block;
                }
            }
            .relatedProduct__content{
                padding: 1rem 0rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                justify-content: center;
                line-height: 1.5rem;
            }
        }
    }
}
